# files under ./data
data/*/*.feather
data/*/*.csv
data/*/*.tsv
data/*/*.zip
features/*.feather
features/importances/*.png
kaggle.json
Untitled0.ipynb
titanic.zip

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.log